.bs--text{text-align: center;font-weight: 500;}
.bs--text .public--text2{line-height: 1.5;}

.bs--swiper{margin-top: 100px;margin-bottom: 100px;position: relative;max-width: 1720px;margin-left: auto;margin-right: auto;overflow: hidden;padding: 0 40px;}
.bs--swiper .swiper-slide ul{display: flex;justify-content: center;flex-wrap: wrap;}

.bs--swiper .swiper-pagination-bs{position: static;margin-top: 20px;}
.bs--swiper .swiper-pagination-bs .swiper-pagination-bullet{width: 12px;height: 12px;margin:0 6px;}


.bs--swiper .swiper-button-prev-bs,
.bs--swiper .swiper-button-next-bs{position: absolute;top: calc(50% - 30px);z-index: 2;cursor: pointer;width: 80px;height: 160px;display: flex;justify-content: center;align-items: center;top: 45%;transform: translate(0,-50%);z-index: 9;}
.bs--swiper .swiper-button-prev-bs{left: 0;}
.bs--swiper .swiper-button-next-bs{right: 0;}
.bs--swiper .swiper-button-prev-bs img,
.bs--swiper .swiper-button-next-bs img{width: 17px;display: block;}
.bs--swiper .swiper-button-prev-bs img.off{display: block;}
.bs--swiper .swiper-button-prev-bs:active img.off{display: none;}
.bs--swiper .swiper-button-next-bs img.off{display: block;}
.bs--swiper .swiper-button-next-bs:active img.off{display: none;}
.bs--swiper .swiper-button-prev-bs img.on{display: none;}
.bs--swiper .swiper-button-prev-bs:active img.on{display: block;}
.bs--swiper .swiper-button-next-bs img.on{display: none;}
.bs--swiper .swiper-button-next-bs:active img.on{display: block;}

.bs--swiper .swiper-slide{background-color: #fff;}
.bs--swiper .swiper-pagination-bs .swiper-pagination-bullet{background-color: #d7d7d7;opacity: 1;}
.bs--swiper .swiper-pagination-bs .swiper-pagination-bullet-active{background-color: #808080;opacity: 1;}
/* business page.1 */
.bs--swiper1{max-width: 1140px;}
.bs--swiper1 .swiper-slide ul{width: 100%;max-width: 1080px;margin: auto;padding: 0 40px;}
.bs--swiper1 .swiper-slide ul li{width: 20%;max-width: 200px;}
.bs--swiper1 .swiper-slide ul li img{width: 100%;}
@media all and (max-width:769px) {
    .bs--swiper .swiper-pagination-bs .swiper-pagination-bullet{width: 10px;height: 10px;margin: 0 5px;}
    .bs--swiper{margin-bottom: 40px;margin-top: 100px;}
    .bs--swiper1 .swiper-slide ul li{width: calc(100% / 3);}
    .bs--swiper1 .swiper-slide ul li:nth-child(4),
    .bs--swiper1 .swiper-slide ul li:nth-child(5){transform: translate(0,-14%);}
}
@media all and (max-width:481px){
    .bs--swiper .swiper-pagination-bs .swiper-pagination-bullet{width: 6px;height: 6px;margin: 0 3px;}
}
/* business page.2 */
.bs--swiper2{max-width: 1281px;}
.bs--swiper2 .swiper-slide ul{width: 100%;max-width: 1281px;margin: auto;padding: 0 40px;}
.bs--swiper2 .swiper-slide ul li{width: 25%;background-color: #fff;}
.bs--swiper2 .swiper-slide ul li img{width: 100%;}
@media all and (max-width:769px) {
    .bs--swiper2 .swiper-slide ul{padding: 0px;}
    .bs--swiper2 .swiper-slide ul li{width: 50%;}
}

/* business page.3 */
.bs--swiper3{max-width: 600px;}
.bs--swiper3 .swiper-slide{background-color: #fff;}
.bs--swiper-slide-text{text-align: center;line-height: 1.5;margin-top: 80px;}
.bs--swiper-slide-text .public--text1{margin-top: 0.2em;}
.bs--swiper-slide-img{padding: 0 40px;margin-bottom: 20px;}
.bs--swiper-slide-img img{margin: auto;width: 100%;}
.public--sub-wrap{opacity: 0;transform: translate(0,80px);}
.public--sub-wrap.on-view{opacity: 1;transform: translate(0,0);transition-duration: 0.9s;}
@media all and (max-width:481px){
    .bs--swiper-slide-img{padding: 0 60px;}
    .bs--swiper .swiper-button-prev-bs, .bs--swiper .swiper-button-next-bs{display: none;}
    .bs--swiper1 .swiper-slide ul{padding: 0;}
    .bs--swiper{padding: 0;}
    .bs--swiper2 .swiper-slide ul li img{transform: scale(1.2);}
    .bs--swiper-slide-img{padding: 0;}
}

.bs--swiper3 .swiper-slide{opacity: 0;height: auto;background-color: #fff;}
.bs--swiper3 .swiper-slide-active{opacity: 1;}
