.food--textBox{text-align: center;line-height: 1.5;margin-bottom: 150px;}

.food--prod-list{display: flex;flex-wrap: wrap;justify-content: flex-start;max-width: 1281px;margin: auto;}
.food--prod-list li{width: calc(100% / 4 - 90px / 4);margin-bottom: 30px;margin-right: 30px;position: relative;cursor: pointer;}
.food--prod-list li:nth-child(4n){margin-right: 0;}
.food--prod-list li img{width: 100%;}
.food--prod-list li .filter{width: 100%;height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: rgba(0,0,0,0.2);align-items: center;justify-content: center;display: none;}
.food--prod-list li:hover .filter{display: flex;}
.food--prod-list li .filter p{color: #fff;font-size: 18px;font-weight: 500;text-align: center;}

#popup{width: 100%;height: 100%;position: fixed;top: 0;z-index: 53;display: none;left: 50%;transform: translate(-50%,0);}
#popup.show{display: block;}
/* #popup{pointer-events: none;} */

.food--popup{width: 100%;padding: 0 80px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.food--popup ul{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.food--popup ul li {display: flex;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: calc(100% - 140px);max-width: 1500px;justify-content: center;}
.food--popup ul li .ppCloseBtn{position: absolute;width: 40px;height: 40px;right: 0;top: 0;border: 0px solid #000;cursor: pointer;z-index: 10;cursor: pointer;background-color: #d7d7d7;}
.food--popup ul li .ppCloseBtn:hover,
.food--popup ul li .ppCloseBtn:active{background-color: #808080;}
.food--popup ul li .ppCloseBtn span{width: 24px;height:3px;border-radius: 10px;background-color: #fff;display: block;position: absolute;top: 50%;left: 50%;}
.food--popup ul li .ppCloseBtn span:nth-child(1){transform: translate(-50%,-50%) rotate(45deg);}
.food--popup ul li .ppCloseBtn span:nth-child(2){transform: translate(-50%,-50%) rotate(-45deg);}
.food--popup-bg{position: absolute;width: 100%;height: 100%;}
.food--popup-imgBox{width: 50%;display: -webkit-flex;align-items: center;background: linear-gradient(#e4e4ec, 50%,#e9eaef);}
.food--popup-imgBox img{width: 100%;}
.food--popup-textBox{width: 50%;background-color: #fff;text-align: center;display: flex;align-items: center;flex-direction: column;justify-content: center;padding: 20px;position: relative;padding-top: 70px;}
.food--popup-textBox p{margin-bottom: 1em;line-height: 1.5;}
.food--popup-textBox-flag{position:absolute;width: 70px;height: 70px;background-image: url(../image/food_popup_greenFlag.png);top: 0;left: 50%;transform: translate(-50%,0%);}

.food--popup ul li{opacity: 0;pointer-events: none;box-shadow: 0px 10px 10px rgba(0,0,0,0.1);border: 1px solid #cfcfcf;}
.food--popup ul li.show{opacity: 1;pointer-events: unset;background-color: #fff;}
/* .food--slide-buttons{width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: flex;justify-content: space-between;height: 50%;} */

.food--slide-next,
.food--slide-prev{width: calc(50vw - 800px);height: calc(100% - 200px);margin: 10px;padding: 6px;position: absolute;background-size: 17px 20px;background-position: center center;background-repeat: no-repeat;cursor: pointer;top: 50%;min-width: 60px;}
.food--slide-prev{background-image: url(../image/ico_swiper_prev_off.png);left: 0;transform: translate(0,-50%);}
.food--slide-prev:active,
.food--slide-prev:hover{background-image: url(../image/ico_swiper_prev_on.png);}

.food--slide-next{background-image: url(../image/ico_swiper_next_off.png);right: 0;transform: translate(0,-50%);}
.food--slide-next:active,
.food--slide-next:hover{background-image: url(../image/ico_swiper_next_on.png);}

/* .food--slide-prev::after{content: '';width: 24px;height: 24px;display: block;border: solid;border-width: 0px 0px 2px 2px;border-color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(calc(-50% + 6px),-50%) rotate(45deg);} */
/* .food--slide-next::after{content: '';width: 24px;height: 24px;display: block;border: solid;border-width: 2px 2px 0px 0px;border-color: #fff;position: absolute;top: 50%;left: 50%;transform: translate(calc(-50% - 6px),-50%) rotate(45deg);} */

.init{transform: translate(0,40px);opacity: 0;transition-property: transform opacity;}
.init.on-view{transform: translate(0,0);opacity: 1;transition-duration: 0.5s;}

@media all and (max-width:1281px){
    .food--slide-next,
    .food--slide-prev{min-width: 40px;width:calc(50vw - 300px);}

    .food--textBox{margin-bottom: 80px;}
    .food--prod-list li{width: calc(100% / 2 - 10px / 2);margin-right: 10px;margin-bottom: 10px;}
    .food--prod-list li:nth-child(2n){margin-right: 0;}
    
    .food--popup{padding: 120px 0;max-width: 481px;margin: auto;}
    .food--popup ul li{flex-direction: column;max-width: 481px;width: 100%;}
    .food--popup ul li .ppCloseBtn{background-color: #cfcfcf;}
    .food--popup ul li .ppCloseBtn:hover,
    .food--popup ul li .ppCloseBtn:active{background-color: #909090;}
    .food--popup-imgBox,.food--popup-textBox{width: 100%;}
    .food--popup-textBox{padding-top: 48px;}
    .food--popup-textBox-flag{width: 40px;height: 40px;background-size: cover;}
    .food--popup-imgBox{background: linear-gradient(#e4e4ec,#e9eaef);}
    .food--popup-imgBox img{max-width: unset;margin: auto;}

    .init{transform: translate(0,20px);}
}
@media all and (max-width:600px){
    .food--popup{max-width: 280px;}
    .food--popup-textBox{padding: 48px 12px 10px;}
    .public--text2 p{font-size: 13px;}
    .public--text2 p.black3{font-size: 14px;}
    .food--popup .public--text2 p{font-size: 12px;}
    .food--popup .public--text2 p.black3{font-size: 13px;}
    .public--text2 p.public--text1{font-size: 14px;}
    .food--popup ul li .ppCloseBtn{width: 32px;height: 32px;}
}
@media all and (max-width:481px){
    .food--popup ul li{width: 100%;}
    .food--slide-next,
    .food--slide-prev{height: 40px;}
}